@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish';
  background-color: rgba(211, 211, 211, 0.5);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.progress-item {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  color: rgba(180, 180, 180);
  font-style: inherit;
  font-size: 2rem;
  font-weight: bold;
  border: 0.5rem solid rgba(180, 180, 180);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border: 0.5rem solid rgba(0, 0, 255, 0.75);
  color: rgba(0, 0, 255, 0.75);
}

.progress-bar {
  background-color: rgb(210, 210, 210);
  height: 0.5rem;
  width: 80vw;
  position: absolute;
  z-index: -2;
}

.progress-bar::after {
  content: '';
  background-color: rgba(0, 0, 255, 0.75);
  height: 0.5rem;
  width: 20vw;
  position: absolute;
  z-index: -1;
}
