@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: rgb(28, 28, 28);
  position: relative;
  overflow-x: hidden;
  z-index: -2;
}

.mb-1 {
  margin-bottom: 1rem;
}

.container {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: top left;
  transition: rotate 0.2s ease;
}

.rotate-container {
  rotate: -20deg;
  transition: rotate 0.2s ease;
}

.article {
  width: 60vw;
  padding: 3rem 0;
  z-index: 0;
}

.image {
  background-image: url('./cat-and-dog.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.navigation {
  width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

.rotate-menu-up {
  rotate: -90deg;
  transition: rotate 0.2s ease;
}

.rotate-menu-down {
  rotate: 0deg;
  transition: rotate 0.2s ease;
}

button {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

#bars {
  transform: translate(0, -8px);
}

#close {
  transform: translate(15px, -10px);
}

.menu-outline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

.menu {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  transform: translateX(-100%);
  transition: transform 0.2s linear;
}

.show-menu {
  transform: translateX(0);
  transition: transform 0.2s linear;
  transition-delay: 0.3s;
}

ul {
  height: inherit;
  list-style: none;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

li {
  margin-left: 20px;
  width: 80%;
}

.menu ul li + li {
  padding-left: 15px;
}

.menu ul li + li + li {
  padding-left: 30px;
}

i {
  margin-right: 20px;
}
