@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: rgb(28, 28, 28);
  position: relative;
}

.mb-1 {
  margin-bottom: 1rem;
}

.container {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  width: 60vw;
  padding: 3rem 0;
}

.image {
  background-image: url('./cat-and-dog.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.navigation {
  width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}

.rotate-up {
  rotate: -90deg;
  transition: rotate 0.2s ease;
}

.rotate-down {
  rotate: 0deg;
  transition: rotate 0.2s ease;
}

button {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* 
.menu {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
  left: 0;
  transform: skewX(10deg);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

i,
a {
  color: white;
  font-size: 1.5rem;
}
i {
  margin-right: 20px;
}
a {
  text-decoration: none;
  margin-left: 20px;
} */
