@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(107, 231, 225, 0.753);
}

.container {
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.item img {
  width: 80px;
  height: 80px;
}
