@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-style: 'Poppins';
  display: flex;
  position: relative;
}

.box {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128);
  opacity: 0.5;
}

.box h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
  padding: 1rem 2rem;
  font-style: inherit;
  font-size: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0);
}

button:hover {
  opacity: 1;
  color: white;
  border: 2px solid white;
}

#playstation {
  background-image: url('./images/ps5-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
}

#xbox {
  background-image: url('./images/xbox-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
}
