@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  opacity: 0.8;
}

.left {
  width: 50%;
  height: 100%;
  background: url('images/ps5-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.4s ease;
}

.right {
  width: 50%;
  height: 100%;
  background: url('images/xbox-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.4s ease;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  border: 0.175rem solid white;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  margin-top: 2rem;
}
.left a:hover {
  background-color: rgba(25, 25, 221, 0.5);
}

.right a:hover {
  background-color: rgba(0, 255, 42, 0.5);
}

h2 {
  color: white;
  font-size: 3rem;
  white-space: nowrap;
}

.hover-left .left {
  width: 75%;
}

.hover-left .right {
  width: 25%;
}

.hover-right .left {
  width: 25%;
}

.hover-right .right {
  width: 75%;
}
