@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko';
}
body {
  overflow-x: hidden;
  position: relative;
}

.container {
  height: 100vh;
  background: url('./amg-gt.jpg') no-repeat center;
  filter: blur(50px);
}

.blur-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  font-size: 50px;
}
