@import url('https://fonts.googleapis.com/css2?family=Platypi&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Platypi';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  font-weight: bold;
  border: 2px solid black;
  padding: 1rem 2rem;
}

.second {
  display: flex;
  gap: 2rem;
}

.hidden {
  display: none;
}
